Example

Nick is interested in learning about liquid salt thorium powered nuclear reactors. He is a college student who is Competent[] in computer science but a Novice in nuclear energy and an Advanced Beginning in electrical circuits. He logs into Educate.me, which creates an Educator agent for him with Personify[]. 

The Educator connects with his Facebook and Twitter profile and integrates information. It discovers that he typically reads at the college level and favors articles high in technical content.Nick's Educator then begins searching the web for related articles, developing a knowledge sequence progressing from basic Wikipedia articles to pop media journalism to Google Scholar citations for the theoretical underpinnings of the work.